@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
:root {
  --nav-color: rgb(224, 238, 254);
  --body-color: rgb(224, 238, 254);
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: var(--body-color);
}
.bill-headings,
.bill-items {
  display: flex;
  width: 28rem;
  padding: 0.3rem;
}
.price-container {
  padding-left: 4.3rem;
}

.item-heading,
.quantity-heading,
.price-of-item,
.price-heading,
.quantity,
.bill-item {
  flex: 0.5;
}
.item-heading,
.quantity-heading,
.price-heading {
  font-weight: bold;
}
.navbar {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--nav-color);
  height: 2.5rem;
  padding: 1rem;
}
.logo-container {
  flex: 0.5;
  display: flex;
  padding-left: 1rem;
}
.product-logo {
  color: rgb(0, 0, 0);
  font-weight: bold;
  height: 2rem;
  width: 6rem;
}
#invalid {
  color: red;
  margin-left: 0.2rem;
}
.logo {
  height: 1.8rem;
  width: 1.8rem;
  color: rgb(255, 255, 255);
}

.nav {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.search-box {
  height: 1.5rem;
  width: 20rem;
  font-size: 0.9rem;
  padding-left: 0.5rem;
  outline: none;
  border-radius: 1.5rem;
  background-color: #f6f6f6;
  border: 0.1rem solid #f6f6f6;
}
.content {
  width: 50rem;
  display: flex;
}
.women-cart-gif {
  height: 35rem;
  padding-top: 5rem;
}
.inventoy-img {
  padding: 3rem 7rem;
  height: 20rem;
}
.list {
  list-style: none;
}
.search {
  height: 1.7rem;
  display: flex;
  width: 20.7rem;
  background-color: #f6f6f6;
  border: 0.1rem solid #f6f6f6;
  border-radius: 1.5rem;
}
.logo {
  text-decoration: none;
}

.contact {
  background-color: rgb(156, 199, 255);
  color: #f6f6f6;
  height: 20rem;
}
.search-box::-webkit-search-cancel-button {
  display: none;
}
.search-icon {
  height: 1.5rem;
  cursor: pointer;
  width: 1.5rem;
}
.side-bar {
  background-color: rgb(131, 190, 251);
  width: 5rem;
  display: block;
  height: 100rem;
  position: fixed;
  top: 4.5rem;
}
.side {
  color: black;
  display: block;
  width: 2.2rem;
  padding: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
}
.side:hover {
  color: black;
  width: 2.2rem;
  background-color: rgb(80, 139, 200);
}
.main-page {
  display: flex;
}

.add-items {
  padding: 0.8rem;
  background-color: rgb(80, 139, 200);
  color: rgb(255, 255, 255);
  font-weight: 300;
  width: 6.3rem;
  margin: 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
#inventory {
  position: relative;
  padding-left: 1.5rem;
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.item-name {
  color: white;
  padding-left: 1rem;
}
.items {
  height: 23rem;
  width: 15rem;
  margin: 0.1rem;
  margin-left: 3rem;
  background-color: rgb(131, 190, 251);
  border-radius: 0.2rem;
  margin-bottom: 2.5rem;
  /* transition: width 1s; */
}
.items:hover {
  /* width: 30rem; */
  box-shadow: 0.5rem 0.5rem 1rem rgba(80, 139, 200, 0.9);
}
.dialog {
  position: fixed;
  height: 400px;
  top: 240px;
  width: 400px;
  background-color: rgb(212, 212, 212);
  left: 600px;
}
.price-container {
  padding-left: 0;
  margin-left: 0;
}
.uuid {
  padding-left: 1rem;
}
.stock {
  padding: 0.3rem 1rem;
}
.instock {
  color: lightgreen;
}
.outofstock {
  color: rgb(249, 59, 30);
}
.add-image {
  padding: 30px;
}
.home-continer,
#main-container {
  padding-left: 6rem;
  margin-top: 5rem;
  margin-left: 1rem;
}
.revenue {
  margin-top: 3rem;
}
.revenue,
.items-left,
.requires {
  background-color: rgb(80, 139, 200);
  height: 30rem;
  padding: 1rem;
  width: 65rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
.graph {
  /* filter: invert(6%) sepia(75%) saturate(1051%) hue-rotate(185deg)
    brightness(83%) contrast(65%); */
  height: 27rem;
  width: 60rem;
  padding-left: 4%;
}
.image-item {
  height: 15rem;
  width: 15rem;
  cursor: pointer;
  border-radius: 0.2rem;
}
.price {
  color: rgb(255, 255, 255);
  display: flex;
  padding: 0.5rem 1rem;
}
.demo_price {
  flex: 1;
}
.inr {
  flex: 1;
}
.amount {
  margin-top: 2px solid rgb(0, 0, 0);
  display: flex;
}
.total {
  flex: 1;
}
.rupees {
  flex: 1;
}
.bill-continer {
  margin: 10rem 0 0 25rem;
  width: 30rem;
  height: fit-content;
  background-color: rgb(131, 190, 251);
  border-radius: 1rem;
}
.bill-continer {
  margin-left: 35rem;
}
.bill-heading {
  padding-top: 2rem;
  padding-left: 13rem;
}
.bill-receipt {
  padding: 5rem;
  padding-left: 10rem;
}
.amount {
  padding-top: 2rem;
  border-top: 0.1rem solid rgb(0, 0, 0);
  padding-left: 7rem;
  margin: 0 3rem 0 3rem;
}
.nav-items {
  text-decoration: none;
  padding: 0.7rem;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.nav-items:hover {
  color: rgb(0, 0, 0);
}
.signin,
.submit-btn {
  margin-top: 0.5rem;
  text-decoration: none;
  padding: 0.3rem;
  font-weight: bold;
  background-color: rgb(80, 139, 200);
  border: 2px solid rgb(80, 139, 200);
  color: rgb(255, 255, 255);
  border-radius: 0.4rem;
}
.sign-in-btn {
  padding: 0em 1rem;
  margin: 0;
}
.signin:hover,
.submit-btn:hover {
  background-color: rgb(178, 214, 253);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(178, 214, 253);
}
.home-heading {
  padding: 20rem 10rem;
  padding-bottom: 3rem;
  padding-right: 0.1rem;
  width: 40rem;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
.content {
  font-size: 1.5rem;
  width: 40rem;
  padding: 3rem 5rem;
}
.about {
  width: 10rem;
  height: 49.3rem;
}
.about-heading {
  padding: 5rem 5rem;
  padding-bottom: 3rem;
  padding-right: 0.1rem;
  width: 40rem;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
.home {
  background-color: rgb(131, 190, 251);
  height: 53.67rem;
}
.choices {
  margin-top: 5rem;
  margin-left: 10rem;
}
.siginin-heading {
  padding: 20rem;
}
.about-container {
  display: flex;
}
.seller,
.customer {
  border: 2px solid rgb(0, 0, 0);
  padding: 3rem;
  padding-top: 3rem;

  font-family: "Poppins", sans-serif;
  background-color: rgb(131, 190, 251);
  height: 12rem;
  border-radius: 3rem;
}
.store,
.people {
  height: 10rem;
  width: 10rem;
}
.choices-checbox {
  display: flex;
  padding: 3rem;
  padding-left: 15rem;
}
.siginin-choice {
  padding: 1.7rem;
  padding-top: 0.7rem;
  font-size: 1.5rem;
}
.customer-choice {
  padding: 0.6rem;
  font-size: 1.5rem;
}
.signin-seller {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 8rem;
}
.signin-customer {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding-left: 6rem;
}
.choice-container {
  padding-top: 5rem;
  padding-left: 7rem;
}
.login-box {
  margin: 17%;
  margin-left: 35%;
  background-color: rgb(255, 255, 255);
  height: 17rem;
  width: 26.2rem;
  border-radius: 1rem;
}
.mail,
.pass {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
}
.mail-inputbox,
.password-inputbox {
  height: 1.5rem;
  width: 20rem;
  outline: none;
}
.mail-container,
.pass-container {
  padding-left: 1.5rem;
}

.log-in {
  background-color: rgb(80, 139, 200);
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  margin: 1rem;
  width: 5rem;
  border-radius: 0.4rem;
  margin-left: 19rem;
}

.log-in:hover {
  background-color: rgb(178, 214, 253);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(178, 214, 253);
}
.login-button {
  text-decoration: none;
  margin-bottom: 0.1rem;
}
.sign-in,
.explore-more {
  margin: 1rem 0 2rem 5rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(80, 139, 200);
  border-radius: 0.5rem;
  margin-left: 10rem;
  font-size: 1.2rem;
  padding: 1rem;
}
.demo-signin {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(80, 139, 200);
  border-radius: 0.5rem;
  margin-left: 10rem;
  padding: 0.5rem;
}
.sign-in:hover,
.explore-more:hover,
.demo-signin:hover {
  background-color: rgb(199, 213, 229);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(224, 238, 254);
}
.explore-more {
  margin: 0;
  margin-left: 0.5rem;
}
.signon-store {
  text-decoration: none;
}
.not-have-acc {
  padding-left: 3rem;
}
.signin-seller-container {
  background-color: rgb(148, 197, 249);
  margin: 3rem 28rem;
  border-radius: 0.8rem;
  height: fit-content;
  width: 40rem;
}
input:valid {
  border: 2px solid green;
}
input:invalid {
  border: 2px solid red;
}
.store-input {
  margin-top: 7rem;
  padding-top: 1rem;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 0.5rem;
}
.seller-input {
  padding: 0.3rem;
}
.seller-inputbox {
  height: 2rem;
  width: 30rem;
  outline: none;
}
.sign-in-seller {
  width: 4rem;
  padding: 0.4rem;
  margin-bottom: 0.5rem;
  margin-left: 25rem;
}
.signin-customer-container {
  height: 40rem;
}
.requirement-headning {
  padding: 3rem;
  font-size: 2.5rem;
}
.requirement-input {
  padding: 3rem;
}
.submit-btn {
  margin: 1rem;
  margin-left: 0;
}
.require-inputbox {
  display: block;
  resize: none;
  outline: none;
  padding: 1rem;
  font-size: 1.2rem;
  height: 10rem;
  width: 55rem;
}
.credits {
  margin-bottom: 0;
  padding-bottom: 0;
}
.item-requirement-container {
  margin: 5rem 10rem;
}
.user-requirement {
  margin: 0.5rem 1rem;
  color: white;
}
.username {
  padding: 2rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}
.require {
  font-size: 1rem;
  margin-left: 5rem;
}
.profile-card {
  background-color: rgb(146, 192, 241);
  margin: 15% 30%;
  height: 23rem;
  width: 40rem;
  border-radius: 1rem;
}
.name-card {
  display: flex;
}
.name-card {
  padding: 2rem 1rem 1.5rem 1rem;
}
#name-value,
#shopname-value,
#email-value,
#address-value,
#phone-value,
#pass-value {
  background-color: rgb(199, 222, 246);
  border: 2px solid rgb(199, 222, 246);
  margin-left: 1rem;
}
#email-value {
  width: 30rem;
}
#address-value {
  margin-left: 0;
  width: 29.8rem;
}
#name-value:focus.shopname-value,
#email-value:focus,
#address-value:focus,
#phone-value:focus,
#pass-value:focus {
  outline: none;
}
.contact-card {
  padding-left: 1rem;
}
.address-card {
  padding: 3rem 1rem;
}
.change-card {
  display: flex;
}

.edit {
  background-color: var(--body-color);
  border: 0;
  padding: 0.3rem;
  font-size: 1rem;
  margin: 1rem;
  margin-left: 2rem;
  border-radius: 0.3rem;
}
